@page "/get_robot"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper



<div class="card text-center">
  <div class="card-header">
    <h3>Create a new robot</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <p><img class="rounded-circle img-fluid @hidden" src="https://robohash.org/@current_id" alt="Generic placeholder image" width="400" height="400"></p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button onclick=@increaseCount type="button" class="btn btn-secondary btn-sm">Prev</button>
          <button onclick=@decreaseCount type="button" class="btn btn-secondary btn-sm">Next</button>
        </div>
        <div id="input">
          <label for="name">Name</label>
          <input bind="@current_name" type="text" class="form-control" id="name" />
        </div>
        <small id="emailHelp" class="form-text text-muted">Our company doesn't share data with anyone else... I promise</small>
      </div>
    </form>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <button class="btn btn-primary" onclick="@addPerson">Create</button>
      <button class="btn btn-danger" onclick="@goHome">Home</button>
    </div>
  </div>
</div>


@functions {
  static Random rnd = new Random();
  string current_name;
  string hidden = "d-none";
  int current_id = rnd.Next(300);

  List<int> taken_ids = new List<int>();
  Robot[] robots;

  class Robot
  {
    public int id { get; set; }
    public string name { get; set; }
  }


  protected override async Task OnInitAsync()
  { 
    robots = await Http.GetJsonAsync<Robot[]>("https://fxns-at-azure.azurewebsites.net/api/get_data");
    
    foreach (var robot in robots)
    {
      taken_ids.Add(robot.id);
    }

    if (taken_ids.Contains(current_id)) 
    {
      increaseCount();
    }

    hidden = "";

  }


  protected async Task addPerson()
  {
      await Http.SendJsonAsync(
        HttpMethod.Post,
        "https://fxns-at-azure.azurewebsites.net/api/post_data", 
        new Person{id=current_id, name=current_name}
      );

      UriHelper.NavigateTo("/");
  }

  void rerender() 
  {
    this.StateHasChanged();
  }

  void increaseCount()
  {
    do {
      current_id++;
    } while (taken_ids.Contains(current_id));

    rerender();
  }

  void decreaseCount()
  {
    do {
      current_id--;
    } while (taken_ids.Contains(current_id));

    rerender();
  }

  void goHome()
  {
    UriHelper.NavigateTo("/");
  }

  class Person
  {
      public int id { get; set; }
      public string name { get; set; }
  }
}

