@page "/robot_details/{robot_name}/{robot_id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">More</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <p><img class="rounded-circle img-fluid" src="https://robohash.org/@robot_id" alt="Generic placeholder image" width="400" height="400"></p>
    <h5 class="card-title">Name: @robot_name</h5>
    <p class="card-text">More features to be added</p>
    <a href="/" class="btn btn-primary">Back</a>
    <a class="btn btn-danger" style="color:#fff;" onclick="@(()=>deletePerson(@robot_id))" role="button">Remove</a>
  </div>
</div>


@functions {
    [Parameter]
    string robot_name { get; set; }
    [Parameter]
    string robot_id { get; set; }

    async void deletePerson(string delete_id)
    {
        var response = await Http.DeleteAsync("https://fxns-at-azure.azurewebsites.net/api/delete_data?id="+delete_id);

        if (response.IsSuccessStatusCode) {
            UriHelper.NavigateTo("/");
        }
    }
}