@inherits BlazorLayoutComponent

<header>
    <NavMenu />
</header>
    
 <main role="main">
    @Body 
 </main>

<footer>
    <a href="https://github.com/OberonStudios/blazor-test">Project on GitHub</a>
</footer>